/* CSS Document */
/* CSS Document */
*,::before,::after{margin:0; padding:0; -webkit-box-sizing:border-box; -webkit-tap-highlight:transparent;/*清除点击默认的高亮效果*/}

a, article, aside, audio, b, blockquote, body, canvas, caption, dd,  details,div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, label, legend, li, menu, nav, object, ol, output, p,s, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video
 { margin: 0; padding: 0; border: 0; }
 
ol, ul,li{ list-style: none;}
table { border-collapse: collapse;/*表格的边线重叠*/ border-spacing: 0; }
input,textarea{border:0 none; resize:none;/*调整尺寸*/  /*outline:none;*//*清除表单默认的蓝色边框效果*/ -webkit-appearance:none;/* 针对表单的默认的样式进行清除  比如立体效果*/}
:focus{outline:none;}
img{ display:block; -webkit-touch-callout:none;/*当你触摸并按住触摸目标时候，禁止或显示系统默认菜单 */}

a,a:link,a:visited{ text-decoration:none; color:#343434; -webkit-touch-callout:none;}
a:hover{ color:#ff6699;
	}
.clearfix:after{content:""; display:block; height:0; clear:both; visibility:hidden;}

.fl{float:left;}
.fr{float:right;}

html{-webkit-text-size-adjust: none;/*不调整（拉伸）字大小*/  font-size:100px;/*表示100px=1rem;       625%    62.5%*/}

body{font-family: "microsoft yahei", "\534E\6587\7EC6\9ED1", Verdana, Arial, Helvetica, sans-serif; font-size:24px; background:rgba(204,204,204,1); -webkit-user-select:none; /*禁止选中内容*/}

                 /*微软雅黑      华文细黑                                         最后一个字体：ios系统默认 */ 
	 					 
.m_layout{ max-width:7.5rem; min-width:3.2rem; width:100%;background:rgba(255,255,255,1); margin:0 auto;}				 
				 

/*文字图标的引入方法*/


@font-face {
  font-family: 'iconfont';  /* project id 591824 */
  src: url('http://at.alicdn.com/t/font_591824_gc87m3uvbsgiudi.eot');
  src: url('http://at.alicdn.com/t/font_591824_gc87m3uvbsgiudi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_591824_gc87m3uvbsgiudi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_591824_gc87m3uvbsgiudi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_591824_gc87m3uvbsgiudi.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
}

main{
  margin-top: 0.88rem;
  width: 100%;
  height: auto;
}
.main_wrap{ height:23rem; position:relative; z-index:10;}

#m_header{
    height: 40px;
    background: #f0f0f0;
}
#m_header{
    width:100%;
    max-width:7.5rem;
    min-width:3.2rem;
    height:0.88rem;
    background:rgba(252,226,90,1);
    margin:0 auto;
    position:fixed;/*固定定位*/ top:0; left:0; right:0;
    z-index: 40;
}

#m_header .search{
    width:0.48rem;
    height:0.48rem;
    font-size:0.48rem;
    color: #505050;
    position:absolute;
    left:0.20rem;
    top:0.20rem;
}
#m_header .m_header_right{
    width:0.48rem;
    height:0.48rem;
    font-size:0.48rem;
    color: #505050;
    position:absolute;
    right:0.22rem;
    top:0.20rem;
}
#m_header .m_search{
    width:100%;
    height:0.66rem;
    /*background:rgba(0,153,255,1);*/
    margin-top:0.10rem;
}
.m_search form{
    width:100%; height:100%;
    padding:0 0.2rem 0 0.2rem;
    /* background:rgba(153,153,204,1);*/
    position:relative;
}
#m_header .m_search form input[type=text]{
    width:100%; height:100%;
    background: white;
    border-radius:0.1rem;
    font-size:0.3rem;
    font-family:"微软雅黑", Arial;
    padding-left:0.7rem;
}
#m_header .m_search form input[type=button]{
    width:0.46rem;
    height:0.46rem;
    font-size:0.46rem;
    color: #505050;
    background:transparent;/*透明*/
    position:absolute;
    top:0.1rem;
    left:0.36rem;
}



.main_wrap .banner .swiper-pagination-bullet {
  width: 0.08rem;
  height: 0.08rem;
  background: #fce25a;
}
nav{ width:100%; height:2.6rem; background:rgba(255,255,255,1);}
nav ul{ width:100%; height:100%;}
nav ul li{ width:20%;  float:left; text-align:center; margin-top:0.16rem;}
nav ul li a{ width:100%;  display:block;}
nav ul li a img{ width:0.7rem; height:0.7rem; margin:0 auto;}
nav ul li a p{ font-size:0.24rem; color: black; margin-top:0.04rem;}

.floor_show{ width:100%;}
.floor_show a{ width:33.33%; display:block; float:left;}
.floor_show a img{ width:100%;}

.floor_notice{ width:100%; height:1.2rem; border-bottom:1px solid rgba(153,153,153,0.2);border-top:1px solid rgba(153,153,153,0.2); padding:0.1rem 0.2rem;}
.floor_notice .notice_bt{ width:20%; height:100%; background:rgba(255,255,255,1); float:left; font-family: 方正行楷简体; font-size: 0.32rem; color: #aa8a01;}
.floor_notice .notice_con{ width:70%; height:100%; background:rgba(255,255,255,1); float:left;}
.floor_notice .notice_con .swiper-container{ width:100%; height:100%;}
.floor_notice .notice_con .swiper-container .swiper-slide{ width:100%; height:100%; white-space: nowrap;/*不换行*/  overflow:hidden;/*溢出隐藏*/
  text-overflow:ellipsis;/*溢出出现省略号*/ line-height:0.9rem; font-size: 0.24rem;}
/*排行榜*/
.floor_image{
  width: 100%;padding-left: 0.1rem;padding-right: 0.1rem;
}
.floor_image a{
  float: left; width: 33.3%;
}
.floor_image a img{
  width: 100%; height: auto;
}
.floor_gou p{
  font-size: 0.36rem;padding: 0 0.2rem;
}
.floor_gou h{
  font-size: 0.2rem; position: absolute; right: 0.1rem; top: 0.12rem;padding: 0 0.2rem;
}
.floor_gou{
  width: 100%;height: 0.6rem;position: relative; margin-top: 0.1rem;
}
/*更新*/
.floor_tu {
  width: 100%; height: 0.9rem; background: #f6f6f6 ;margin-top: 3rem;
}
.floor_tu p{
  font-size: 0.36rem; color: #8c8c8c;padding-left: 20%; padding-top: 0.16rem;
}
.floor_tu img{
  padding-left: 58%; margin-top: -0.4rem; height: 0.4rem;
}
/*图片*/
.picture img{
  float: left;width: 100%;height: 5.32rem;padding: 0 0.1rem;
}
/*底部*/

footer{
    width:100%;
    max-width:7.5rem;
    min-width:3.2rem;
    height:0.98rem;
    background: rgba(255,255,255,1);
    border-top:1px solid rgba(102,102,102,0.2);
    margin:0 auto;
    position:fixed;
    /*固定定位*/
    bottom:0; left:0;
    right:0;
    z-index:100;
}

.image_i img{
    float: left; width: 0.4rem;height: 0.4rem;margin: 9.4%;margin-top:  0.16rem;
}
.image_i p{
    float: left;margin: 9.7%;margin-top:-0.6rem; font-size: 0.18rem;color: black;
}
.image_i .sy{
    color: #fce25a;
}
.image_i{
    border-top:1px solid rgba(153,153,153,0.2); height: 0.98rem; width: 100%;border-bottom:1px solid rgba(153,153,153,0.2);
}