/* CSS Document */
/* CSS Document */
*,::before,::after{margin:0; padding:0; -webkit-box-sizing:border-box; -webkit-tap-highlight:transparent;/*清除点击默认的高亮效果*/}

a, article, aside, audio, b, blockquote, body, canvas, caption, dd,  details,div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, label, legend, li, menu, nav, object, ol, output, p,s, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video
{ margin: 0; padding: 0; border: 0; }

ol, ul,li{ list-style: none;}
table { border-collapse: collapse;/*表格的边线重叠*/ border-spacing: 0; }
input,textarea{border:0 none; resize:none;/*调整尺寸*/  /*outline:none;*//*清除表单默认的蓝色边框效果*/ -webkit-appearance:none;/* 针对表单的默认的样式进行清除  比如立体效果*/}
:focus{outline:none;}
img{ display:block; -webkit-touch-callout:none;/*当你触摸并按住触摸目标时候，禁止或显示系统默认菜单 */}

a,a:link,a:visited{ text-decoration:none; color:#343434; -webkit-touch-callout:none;}
a:hover{ color:#ff6699;
}
.clearfix:after{content:""; display:block; height:0; clear:both; visibility:hidden;}

.fl{float:left;}
.fr{float:right;}

html{-webkit-text-size-adjust: none;/*不调整（拉伸）字大小*/  font-size:100px;/*表示100px=1rem;       625%    62.5%*/}

body{font-family: "microsoft yahei", "\534E\6587\7EC6\9ED1", Verdana, Arial, Helvetica, sans-serif; font-size:24px; background:rgba(204,204,204,1); -webkit-user-select:none; /*禁止选中内容*/}

/*微软雅黑      华文细黑                                         最后一个字体：ios系统默认 */

.m_layout{ max-width:7.5rem; min-width:3.2rem; width:100%;background:rgba(255,255,255,1); margin:0 auto;}


/*文字图标的引入方法*/


@font-face {
    font-family: 'iconfont';  /* project id 591824 */
    src: url('http://at.alicdn.com/t/font_591824_gc87m3uvbsgiudi.eot');
    src: url('http://at.alicdn.com/t/font_591824_gc87m3uvbsgiudi.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_591824_gc87m3uvbsgiudi.woff') format('woff'),
    url('http://at.alicdn.com/t/font_591824_gc87m3uvbsgiudi.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_591824_gc87m3uvbsgiudi.svg#iconfont') format('svg');
}
.main_wrap{ height:1333px; position:relative; z-index:10;}
#m_header{
    height: 13.34rem;
    background: white ;
    width: 7.5rem;
}
#m_header{
    width:100%;
    max-width:7.5rem;
    min-width:3.2rem;
    height:2.74rem;
    background:rgba(252,226,90,1);
    margin:0 auto;
    position:fixed;/*固定定位*/ top:0; left:0; right:0;
    z-index: 40;
}
#m_header p{
    width:100%;
    height:0.66rem;
    font-size: 0.36rem;
    /*background:rgba(0,153,255,1);*/
    margin-top:0.6rem;
    position: absolute;
    padding-left: 2rem;
    margin-top: -1rem;
}
#m_header .tupian{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.6rem;
    position: relative;
    margin-left: 0.2rem;
}
#m_header .shezhi{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
    margin-right: 0.2rem;
    margin-top: -1.4rem;
}
.hsu {
    padding-top: 1rem;
    padding-left: 0.2rem;
}
.hsu .wd{
    font-size: 0.36rem;
    color: #4f3b28;
}
.hsu .ck{
    padding-right: 0.2rem;
    font-size: 0.36rem;
    color: #a1a1a1;
    float: right;
}
/*底部*/
footer{
    width:100%;
    max-width:7.5rem;
    min-width:3.2rem;
    height:0.98rem;
    background: rgba(255,255,255,1);
    border-top:1px solid rgba(102,102,102,0.2);
    margin:0 auto;
    position:fixed;
    /*固定定位*/
    bottom:0; left:0;
    right:0;
    z-index:100;
}

.image_i img{
    float: left; width: 0.4rem;height: 0.4rem;margin: 9.4%;margin-top:  0.16rem;
}
.image_i p{
    float: left;margin: 9.7%;margin-top:-0.6rem; font-size: 0.18rem;color: black;
}
.image_i .sy{
    color: #ffc93e;
}
.image_i{
    border-top:1px solid rgba(153,153,153,0.2); height: 0.98rem; width: 100%;border-bottom:1px solid rgba(153,153,153,0.2);
}